              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#php">
                      php扩展开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#python">
                      python开发
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#MySQL">
                      MySQL
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#MongoDB">
                      MongoDB
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#redis">
                      Redis
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
